oxYexporter/build/
oxYexporter/Debug/
oxYexporter.sdf
oxYexporter/x64/
oxYexporter/oxYexporter.vcxproj
oxYexporter/oxYexporter.vcxproj.filters
*.db
*.opendb
*.lastbuildstate
*.tlog
*.idb
/Exporter_PRS_controller
